.openerp .ticket_messages .oe_list_content {
    border-collapse: separate;
    border-spacing: 10px;
}

.openerp .ticket_messages .oe_list_field_text {
    padding: 6px 6px 40px 6px!important;
    border: 1px solid #808080;
    /*white-space: normal!important;*/
}

.openerp .ticket_messages .oe_form_field_one2many_list_row_add {
    padding-top: 15px;
}

.openerp .ticket_messages .oe_form_field_one2many_list_row_add a {
    background: none repeat scroll 0 0 #7C7BAD;
    color: white;
    padding: 5px 18px;
}

.ticket_messages th.oe_list_record_delete {
    background: #FFF;
    border-left: 0px solid #FFF !important;
}

.ticket_messages .oe_list_content > tfoot {
    background: #FFF;
}

.openerp .oe_list_content td.oe_form_field_one2many_list_row_add {
    padding: 6px 0px;
}

/* KANBAN SECTION */

.openerp .oe_kanban_view.oe_kanban_ungrouped .oe_kanban_column .oe_kanban_record {
    display: block !important;
}

.openerp .oe_kanban_view .oe_kanban_card, .openerp .oe_kanban_view .oe_kanban_quick_create {
    padding: 10px;
}

.ticket_message_block {
    min-width: 600px;
    font-size: 15px;
}

.ticket_state {
    width: 50%;
    text-align: right;
    float: right !important;
}

.ticket_title {
    font-size: 18px;
    font-weight: bold;
}