.openerp .ticket_messages .oe_list_content {
    border-collapse: separate;
}

.openerp .ticket_messages .oe_list_field_text {
    padding: 6px 6px 40px 6px!important;
    border: 1px solid #808080;
    /*white-space: normal!important;*/
}

.openerp .ticket_messages .oe_form_field_one2many_list_row_add {
    padding-top: 15px;
}

.openerp .ticket_messages .oe_form_field_one2many_list_row_add a {
    background: none repeat scroll 0 0 #7C7BAD;
    color: white;
    padding: 5px 18px;
}

.openerp .oe_kanban_card_helpdesk {
    width:330px;
}
.openerp .oe_kanban_card_helpdesk .ticket_state {
    margin:0;
    background-color: #eee;
    border-radius: 8px;
    padding: 4px 4px 0 4px;
}
.openerp .oe_kanban_card_helpdesk .ticket_state ul {
    display: block !important;
}
.openerp .oe_kanban_card_helpdesk .ticket_info img {
    vertical-align: bottom;
}
.openerp .oe_kanban_card_helpdesk .ticket_info {
    font-size: 0.9em;
    line-height: 20px;
}


.ticket_messages th.oe_list_record_delete {
    background: #FFF;
    border-left: 0px solid #FFF !important;
}

.ticket_messages .oe_list_content > tfoot {
    background: #FFF;
}

.openerp .oe_list_content td.oe_form_field_one2many_list_row_add {
    padding: 6px 0px;
}

.openerp .oe_form header .oe_clear {
    display:none;
    clear: none;
}

.openerp .oe_form header:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.openerp .oe_form .oe_form_field {
    padding-top:0;
}

.openerp button.oe_highlight_green {
    background-color:#4CAF50;
    background-image: none;
    color:#fff;
}

.openerp .oe_form table.oe_form_field_binary td {
    width:100%;
}
.openerp .oe_form input.field_binary {
    width:100%;
}

/* KANBAN SECTION */

.openerp .oe_kanban_view .oe_kanban_content.enhanced_helpdesk_project_kanban  h4 {
    height:28px;
}

.openerp .oe_kanban_view .enhanced_helpdesk_project_kanban .oe_kanban_footer_left > span {
    width: 100%;
}

.openerp .oe_form .oe_form_group .oe_form_group_cell.oe_group_right {
    padding-left: 8px;
}

.ticket_state {
    text-align: right;
    float: right !important;
}

.task_info {
    border: 2px dotted #bbb;
    padding: 6px;
    background-color: #eee;
    border-radius: 6px;
}

.ticket_title {
    font-size: 18px;
    font-weight: bold;
}

/* fix tree th */

.openerp .oe_list_content th.oe_sortable div:after {
    display: none;
}
.openerp .oe_list_content th.sortup div:after,
.openerp .oe_list_content th.sortdown div:after {
    display: block;
}

.openerp .oe_form .oe_form_field {
    vertical-align: middle;
}
    